*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
  background: url(img/development.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cadastro {
  width: 580px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  background-color: #fff;
  color: #000;
  border: 4px solid #632eb2; 
}

.cadastro:after, .cadastro:before {
	content: " ";
	display: table;
}

.cadastro:after {
	clear: both;
}

/*Título*/
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: .1em;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #111111;
  margin: 8px auto;
}
/*Formulário*/
form {
  margin-left: 20%;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

form>div {
  text-align: left;
  padding: 2px;
}

form input, form select {
  display: block;
  width: 80%;
  border: 3px solid #632eb2;
  background: none;
  padding: 7px 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', serif;
}

form input[type=checkbox] {
  display: inline;
  width: auto;
}

form select[multiple] {
  height: auto;
}

/*Botões*/
button {
  background: none;
  border: 3px solid #632eb2;
  padding: 10px 30px;
  color: #632eb2;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  transition: all .5s ease;
}

button:hover {
  color: #000;
  border-color: #000;
}

div:nth-child(7) {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*Estilo para smartphones*/
@media only screen and (max-width: 767px) {
	.cadastro {
		width: 400px;
	}
  form {
    margin-left: 15%;
  }
}